.displayCategories {
    margin-top: 3%;
    color: white;
    
}

.categoryInput {
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: blue;
    font-size: 20px;
}

.categoryButton {
    font-size: 20px;
    margin-left: 1%;
    color: black;
    background-color: green;
    border-radius: 5px;
    border: none;
}

.categoryList {
    list-style-type: none;
}

.selectList {
    border-top: 2px solid;
    margin: 1%;
}

.categorySelection {
    margin-top: 1%;
    font-size: 15px;
    padding: 3px;
    width: 30%;
}

.categoryTextArea {
    text-align: center;
    color:black;
    border: 2px solid;
    border-radius: 10px;
    border-color: gold;
}

.clearAll {
    margin: 2%;
    color: red;
    background-color: white;
    font-size: 20px;
    margin-left: 1%;
}

@media screen and (max-width: 600px) {
    .categoryInput {
        font-size: 15px;
    }
    .categoryButton {
        font-size: 15px;
        margin-left: 20px;
    }

    .displayCategories {
        margin-top: 10%;
    }
}


