.addNote {
    padding: 2%;
    width: 100%;
}

.noteTextArea {
    text-align: left;
    padding: 1%;
    color: white;
    background-color: rgba(0, 0, 0, 0.805);
    border: 2px solid;
    border-radius: 10px;
    border-color:rgb(0, 255, 242);
    width: 80%;
    margin: 5px;
}

.buttons {
    margin: 1%;
}

.textInput {
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: blue;
    font-size: 20px;
}

.noteButton {
    font-size: 20px;
    margin-left: 1%;
}

.button {
    margin: 1%;
}

.completed {
    color: greenyellow;
}

@media screen and (max-width: 600px) {
    .noteTextArea {
        width: 80%;
        margin-right: 20%;
    }
}