.addNote {
    margin-top: 1%;
}

.noteTextArea {
    text-align: left;
    padding-left: 1%;
    color:rgb(0, 255, 242);
    border: 2px solid;
    border-radius: 10px;
    border-color:rgb(0, 255, 242);
    width: 30%;
}

.buttons {
    margin-top: 0.5%;
    margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
    .noteTextArea {
        width: 65%;
        margin-right: 10%;
    }
}